* {
  margin: 0;
  /*padding: 0;*/
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}



.imglogo{
  width: 13vh;
  height: 13vh;
}

section {
  background-color: #eee;
  min-height: 100vh;
  width: 100%;
  padding: 11rem 4rem 2rem 2rem;
}

.section {
 /* -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all .4s ease-in-out;*/
  transition: all .4s ease-in-out;
  
}

.sec1 {
  display: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("./imges/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.controlls {
  position: fixed;
  z-index: 10;
  width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.12);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  
}


.controlls .control {
  padding: 1rem;
  cursor: pointer;
  
  width: 6rem;
  height: 3rem;
}



header .logo {
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
}


header .menu {
  width: 54%;
  display: flex;
  justify-content: space-around;
}

header .menu i {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header .menu .active-btn i{
    color: #d5ad18;
}

.toggle-button{
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: #d5ad18;
  border-radius: 10px;
}

.icons{
  height: 43px;
  margin-top: 3vh;
}

.icons img{
  height: 100%;
}
.icons img:hover{
  filter: invert(75%) sepia(73%) saturate(514%) hue-rotate(355deg) brightness(84%) contrast(98%);

}

@media only screen and (max-width: 600px) {
  .toggle-button{
    display: flex;
  }
  header .menu{
   display: none;
   width: 100%;
   flex-direction: column;
    align-items: center;
    background-color: #333;
    
  }
  header .menu.active{
   display: flex;
  }
  
  .menu.active .sec1{
    padding: 7rem 0rem 0rem 0rem;
  }
  .controlls{
    height: 11vh;
    flex-direction: column;
    align-items: flex-start;
  }
  .imglogo {
    width: 10vh;
    height: 10vh;
  }
  .sec1{
    padding: 1rem;
    min-height: 91vh;
  }
  .sec2{
    padding: 7rem 2rem 1rem 2rem;
  }
 
}
/*sec1*/

main {
  text-align: center;
  color: white;
}

section h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}
section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

section .btnone {
  /*background: #00b894;*/
  background: #fff;
  color: #000;
}

.btnone:is(:hover ,:focus) {
  background: #d5ad18;
  color: white;
  outline-offset: 3px;
}

section .btntwo {
  background-color: #d5ad18;
  /*background: #00b894;*/
  color: white;
}

.btntwo:hover {
  background: #fff;
  color: #000;
}

.change_content:after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #d5ad18;
}

.letter{
  color: #d5ad18;
}

@keyframes changetext {
  30% {
    content: "لابداع ";
  }
  50% {
    content: "الرقي";
  }
  100% {
    content: "التميّز";
  }
  
}

.home{
  top: 21vh;
  position: relative
}

/*gallary*/
.sec2 h3{
  margin-bottom: 30px;
}

.sec2 img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

 img:hover{
  transform: scale(1.025) !important;
 }
/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

@media only screen and (max-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  
}



/*about-----------*/
#about {
  padding: 11rem 2rem 2rem 2rem;;
}

#about .container {
  max-width: 960px;
  margin: 0 auto;
}

#about p{
  color: #000;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000;
}

#about h3 {
  text-align: initial;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #000;
}

#about ul {
  text-align: initial;
}

#about li {
  margin-bottom: 10px;
  color: #000;
}

#about a {
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #ff9800;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#about a:hover {
  background-color: #ffa726;
}


footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-right {
    margin-top: 10px;
    text-align: left;
    
  }
}
